@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.woff') format('woff'),
       url('../fonts/ProximaNova-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}

html,
body {
 margin: 0;
 padding: 0;
}

body {
  font: 15px 'ProximaNova-Light';
  color: #464646;
}

.wrapper {
	padding: 0 0 0 169px;
	width: 790px;
	height: auto;
}

.calculator {
  margin: 0 0 60px;
}

.calc {
  margin: 0 0 20px;
}

.calc > select {
  padding: 11px 14px;
  border: 1px solid rgb(209, 219, 223);
  border-radius: 3px;
  margin: 0 11px 0 0;
  width: 70px;
  height: 40px;
  font: 15px 'ProximaNova-Light';
  color: #262626;
  background: url('../images/arrow.png') 88% 50% no-repeat;
  appearance: none;
  -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
}

.old-size{
  padding: 0 19px 0 0;
  vertical-align: middle;
}

.new-size {
  padding: 0 24px 0 0;
  vertical-align: middle;
}

.block-name {
  font: 18px 'ProximaNova-Bold';
  display: inline-block;
  margin: 0 0 7px;
}

ul.block-head {
  padding: 0 10px 0 0;
  margin: 15px 0px;
  width: 774px;
  background: #2569d9;
}

.block-head_item {
  list-style: none;
  display: inline-block;
  padding: 13px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.fallacy {
  height: 22px;
  width: 70px;
  background: #ebebeb;
  color: #464646;
  font: 18px 'ProximaNova-Light';
  text-align: right;
  border: none;
  margin: 9px 88px 0 18px;
  padding: 5px 8px 5px 1px;
}

input:nth-of-type(2) {
  margin: 0 62px 0 0;
}

input:last-of-type {
  background: #d6e5ff;
}

.fallacy-of-speedometer > input:focus,
.calc >select:focus {
  outline: none;
}

.fallacy-of-speedometer > input::-webkit-inner-spin-button,
.fallacy-of-speedometer > input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
