@font-face {
    font-family: "ProximaNovaRegular";
    src:  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
          url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaBold";
    src:  url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
          url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNovaLight/ProximaNovaLight.woff') format('woff'),
       url('../fonts/ProximaNovaLight/ProximaNovaLight.ttf') format('truetype');
       font-style: normal;
       font-weight: normal;
}

html,
body {
 margin: 0;
 padding: 0;
}

body {
	font: 100% 'ProximaNovaRegular';
  color: #464646;
  min-width: 680px;
}

input {
  height: 21px;
  width: 63px;
  background: #ebebeb;
  color: #464646;
  font: 1rem 'ProximaNovaLight';
  text-align: right;
  border: none;
  padding: 5px 8px;
  letter-spacing: .1rem
}

input:focus,
select:focus {
  outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.header {
  background: url("../img/background.jpg")  no-repeat 0% 50% / cover;
  height: 843px;
  margin: 0 0 5%;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
  width: 74%;
}

.logo__svg {
  margin: 26px 0 14px;
  padding: 0;
}

.title,
.site-description {
  padding: 0;
  color: #fff;
}

.title {
  font: 4.5rem ProximaNovaBold;
  text-transform: uppercase;
  max-width: 520px;
  margin: 46px 0;
}

.site-description {
  font: 1rem/1.5 ProximaNovaLight;
  max-width: 490px;
}

.site-description:before {
  display: block;
  content: '';
  background: #2569d9;
  width: 84px;
  height: 10px;
  margin: 57px 0 58px;
}

.top-calculator {
  margin: 0 0 60px;
  font-family:  'ProximaNovaLight';
}

.top-calculator__row {
  margin: 0 0 20px;
}

.top-calculator__select {
  padding: 10px 13px;
  border: 1px solid rgb(209, 219, 223);
  border-radius: 3px;
  margin: 0 11px 0 0;
  width: 70px;
  height: 40px;
  font: .9375rem 'ProximaNovaLight';
  color: #262626;
  background: url('../img/arrow.png') 88% 50% no-repeat;
  appearance: none;
  -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
}

.top-calculator__row_old-size,
.top-calculator__row_new-size {
  vertical-align: middle;
}

.top-calculator__row_old-size {
  padding: 0 12px 0 0;
}

.top-calculator__row_new-size {
  padding: 0 17px 0 0;
}

/* clearance-calculator and bottom-calculator same styles */

.clearance-calculator__header_blue-line,
.bottom-calculator__header_blue-line {
  width: 785px;
  height: 41px;
  background: #2569d9;
  margin: 0 0 24px;
}

.clearance-calculator__header_name,
.bottom-calculator__header_name {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .02rem;
  padding: 14px 0;
}

 .clearance-calculator__input_blue,
 .bottom-calculator__input_blue {
 	background: #d6e5ff;
 }

.clearance-calculator {
	margin: 0 0 44px;
}

.clearance-calculator__header_name {
  width: 92px;
}

.clearance-calculator__header_sizes {
  margin: 0 0 0 16px;
}

.clearance-calculator__content {
	display: block;
}

.clearance-calculator__content_left {
	display: inline-block;
  margin: 0 34px 0 15px;
  vertical-align: top;
}

.clearance-calculator__line {
	display: block;
	margin: 0 0 13px;
}

.clearance-calculator__line-name {
	display: inline-block;
	min-height: 30px;
	min-width: 80px;
  vertical-align: top;
	margin: 0 13px 0 0;
  padding: 8px 0 0;
}

.clearance-calculator__input {
  margin: 0 12px 0 0;
}

 .clearance-calculator__clearance-changes {
 	width: 270px;
  padding: 10px 0;
 }

.clearance-calculator__content_right {
	display: inline-block;
  margin: -3px 0;
}

.clearance-calculator__right-img {
	background: url(../img/tire.png) no-repeat;
	width: 345px;
	height: 310px;
}

.bottom-calculator {
  font-family: 'ProximaNovaLight';
  margin: 0 0 100px;
}

.bottom-calculator_name {
  display: inline-block;
  margin: 0 0 21px;
  font: 18px 'ProximaNovaBold'
}

.bottom-calculator__header_name {
  width: auto;
  margin: 0 12px 0 16px;
}

.bottom-calculator__input {
  margin: 0 40px;
}

.bottom-calculator__input_indication {
  margin: 0 65px 0 20px;
}

@media screen and (max-width: 1067px) {
  .container_main-block {
    margin: 0 20px;
    width: auto;
  }
}

@media screen and (min-width: 834px) and (max-width: 1000px) {
  .title {
    font-size: 3rem;
  }

  .logo__svg {
    width: 246px;
    height: 75px;
  }

  .header {
    height: auto;
    background-position: center;
  }

  .site-description {
    padding: 0 0 30px;
  }
}

@media screen and (max-width: 833px) {
  .title {
    font-size: 2.5rem;
    max-width: 300px;
  }
  .logo__svg {
    width: 197px;
    height: 60px;
    }
  .header {
    height: auto;
    background-position: center;
  }

  .site-description {
    padding: 0 0 30px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .clearance-calculator__header_blue-line,
  .bottom-calculator__header_blue-line {
    width: 500px;
  }
}
