@font-face {
    font-family: "ProximaNovaRegular";
    src:  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
          url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaBold";
    src:  url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
          url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNovaLight/ProximaNovaLight.woff') format('woff'),
       url('../fonts/ProximaNovaLight/ProximaNovaLight.ttf') format('truetype');
       font-style: normal;
       font-weight: normal;
}

html,
body {
 margin: 0;
 padding: 0;
}

body {
	font: 100% 'ProximaNovaRegular';
  color: #464646;
  min-width: 620px;
}

.header {
    background: url("../img/background.jpg")  no-repeat 0% 50% / cover;
    height: 843px;
    margin: 0 0 5%;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
    width: 74%;
}

.logo__svg {
    margin: 26px 0 14px;
    padding: 0;
}

.title,
.site-description {
    padding: 0;
    color: #fff;
}

.title {
    font: 4.5rem ProximaNovaBold;
    text-transform: uppercase;
    max-width: 520px;
    margin: 46px 0;
}

.site-description {
    font: 1rem/1.5 ProximaNovaLight;
    max-width: 490px;
}

.site-description:before {
    display: block;
    content: '';
    background: #2569d9;
    width: 84px;
    height: 10px;
    margin: 57px 0 58px;
}

.calculator {
  margin: 0 0 60px;
  font-family:  'ProximaNovaLight';
}

.calc {
  margin: 0 0 20px;
}

.calc > select {
  padding: 11px 13px;
  border: 1px solid rgb(209, 219, 223);
  border-radius: 3px;
  margin: 0 11px 0 0;
  width: 70px;
  height: 40px;
  font: .9375rem 'ProximaNovaLight';
  color: #262626;
  background: url('../img/arrow.png') 88% 50% no-repeat;
  appearance: none;
  -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
}

.new-size,
.old-size {
  vertical-align: middle;
  font-size: 1rem;
}

.old-size {
  padding: 0 12px 0 0;
}
.new-size {
  padding: 0 17px 0 0;
}

.main-block {
	margin: 0 0 44px;
}

.blue-line {
  width: 78.5%;
  min-width: 500px;
  height: 41px;
  background: #2569d9;
  margin: 0 0 24px;
}


.main-block__header {
	line-height: 2.85;
	padding: 0 15px;
	box-sizing: border-box;
}

.main-block__header-item {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: .75rem;
  line-height: 2;
  letter-spacing: .02rem;
  width: 90px;
}

.main-block__header-item_sizes {
  margin: 0 1px;
}

.main-block__header-item_new-size {
  margin: 1px 2px;
}

.main-block__lr-wrap {
	display: block;
}

.main-block__left {
	display: inline-block;
  padding: 0 35px 0 15px;
  float: left;
}

.main-block__left-line {
	display: block;
	margin: 0 0 13px 0;
}

.main-block__left-name {
	display: inline-block;
	min-height: 30px;
	min-width: 80px;
  vertical-align: top;
	margin: 0 12px 0 0;
  padding: 8px 0 0 1px;
}

input {
  height: 21px;
  width: 62px;
  background: #ebebeb;
  color: #464646;
  font: 1rem 'ProximaNovaLight';
  text-align: right;
  border: none;
  padding: 6px 8px 5px 9px;
  letter-spacing: .1rem
}

 .input_blue {
 	background: #d6e5ff;
 }

.main-block__left-input {
  margin: 0px 12px 0px 0px;
}

 .main-block__left-name._clearance {
 	width: 270px;
  padding: 10px 2px 0px 0px;
 }

.main-block__right {
	display: inline-block;
  margin: -3px 1px;
}

.main-block__right-img {
	background: url(../img/tire.png) no-repeat;
	width: 350px;
	height: 310px;
}

.fallacy-of-speedometer {
  font-family: 'ProximaNovaLight';
  margin: 0 0 100px;
}

.block-name {
  font: 1.125rem 'ProximaNovaBold';
  display: inline-block;
  margin: 0 0 21px;
}

.speed-fault-name__indication {
  width: 160px;
  padding: 10px 15px 6px 16px;
}

.speed-fault-name__real {
  width: 130px;
  padding: 10px 15px 6px 12px;
}

.speed-fault-name__difference {
  width: 55px;
  padding: 10px 15px 6px 14px;
}

.speed-fault-value__indication {
  margin: 0 105px 0 19px;
}

.speed-fault-value__real {
  margin: 0 62px 0 0;
}

.speed-fault-value__difference {
  background: #d6e5ff;
  margin: 0 0 0 18px;
}

input:focus,
select:focus {
  outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media screen and (min-width: 520px) and (max-width: 1024px) {
  .title {
    font-size: 3rem;
  }

  .logo__svg {
    width: 246px;
    height: 75px;
  }

  .header {
    height: auto;
    background-position: center;
  }

  .site-description {
    padding: 0 0 30px;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 2.5rem;
    max-width: 300px;
  }
  .logo__svg {
      width: 197px;
      height: 60px;
    }
    .header {
      height: auto;
      background-position: center;
    }

    .site-description {
      padding: 0 0 30px;
    }
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
