html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 100% 'ProximaNovaRegular';
  color: #464646;
  min-width: 500px;
}

* {
  cursor: default;
}

input {
  height: 21px;
  width: 63px;
  background: #ebebeb;
  color: #464646;
  font: 1rem 'ProximaNovaLight';
  text-align: right;
  border: none;
  padding: 5px 8px;
  letter-spacing: .1rem;
  cursor: text;
}

select,
.footer__content a,
.footer__content a > img {
  cursor: pointer;
}

input:focus,
select:focus,
button:focus {
  outline: none; }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.header {
  background: url("../img/background.jpg") no-repeat 0% 50%/cover;
  height: 843px;
  margin: 0 0 5%;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
  width: 74%;
}

.logo__svg {
  margin: 26px 0 14px;
  padding: 0;
}

.title,
.site-description {
  padding: 0;
  color: #fff;
}

.title {
  font: 4.5rem ProximaNovaBold;
  text-transform: uppercase;
  max-width: 520px;
  margin: 46px 0;
}

.site-description {
  font: 1rem/1.5 ProximaNovaLight;
  width: 490px;
}

.site-description:before {
  display: block;
  content: '';
  background: #2569d9;
  width: 84px;
  height: 10px;
  margin: 57px 0 58px;
}

.top-calculator {
  margin: 0 0 60px;
  font-family: 'ProximaNovaLight';
}

.top-calculator__row {
  margin: 0 0 20px;
  width: 538px;
}

.top-calculator__select {
  padding: 10px 13px;
  border: 1px solid #d1dbdf;
  border-radius: 3px;
  margin: 0 11px 0 0;
  width: 70px;
  height: 40px;
  font: .9375rem 'ProximaNovaLight';
  color: #262626;
  background: url("../img/arrow.png") 88% 50% no-repeat;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.top-calculator__row_old-size,
.top-calculator__row_new-size {
  vertical-align: middle;
}

.top-calculator__row_old-size {
  padding: 0 12px 0 0;
}

.top-calculator__row_new-size {
  padding: 0 17px 0 0;
}

/* clearance-calculator and bottom-calculator same styles */
.clearance-calculator__header_blue-line,
.bottom-calculator__header_blue-line {
  width: 785px;
  height: 41px;
  background: #2569d9;
}

.clearance-calculator__header_name,
.bottom-calculator__header_name {
  display: inline-flex;
  flex-flow: row;
  color: #fff;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .02rem;
  padding: 14px 0 0;
}

.clearance-calculator__input_blue,
.bottom-calculator__input_blue {
  background: #d6e5ff;
}

.clearance-calculator {
  margin: 0 0 68px;
}

.clearance-calculator__header_blue-line {
  margin: 0 0 20px;
}

.clearance-calculator__header_name {
  width: 92px;}

.clearance-calculator__header_sizes {
  margin: 0 0 0 16px; }

.clearance-calculator__content {
  display: inline-flex;
  flex-direction: row;
}

.clearance-calculator__content_left {
  width: 396px;
  display: inline-flex;
  flex-direction: column;
  margin: 5px 35px 0 0;
}

.clearance-calculator__line {
  display: block;
  margin: 0 0 20px 15px;
}

.clearance-calculator__content_left > div:nth-child(5) {
  margin: 0 0 37px 15px;
}

.clearance-calculator__line-name {
  display: inline-block;
  width: 42px;
  margin: 0 50px 0 0;
  padding: 5px 0;
}

.clearance-calculator__input {
  margin: 0 13px 0 0;
}

.clearance-calculator__clearance-changes {
  width: 270px;
  padding: 10px 0;
  margin: 0 14px 0 0;
  vertical-align: top;
}

.clearance-calculator__right-img {
  background: url(../img/tire.png) no-repeat;
  width: 345px;
  height: 310px;
}

/**************************************/
.btn-count {
  font: 14px 'ProximaNovaBold';
  letter-spacing: -0.045em;
  background: rgba(39, 39, 39, .85);
  color: #fff;
  border: 1px solid rgba(39, 39, 39, .85);
  border-radius: 3px;
  height: 52px;
  width: 140px;
  transition: 400ms;
  text-transform: uppercase;
}

.btn-count:hover {
  background: #2569d9;
  border-color: #2569d9;
  text-transform: uppercase;
  cursor: pointer;
}
/**************************/

.bottom-calculator {
  font-family: 'ProximaNovaLight';
  margin: 0 0 100px;
}

.bottom-calculator__header_blue-line {
  margin: 0 0 24px;
}

.bottom-calculator_name {
  display: inline-block;
  margin: 0 0 21px;
  font: 18px 'ProximaNovaBold';
}

.bottom-calculator__header_name {
  width: auto;
  margin: 0 12px 0 16px;
}

.bottom-calculator_inputs {
  width: 492px;
}

.bottom-calculator__input {
margin: 0 40px;
}

.bottom-calculator__input_indication {
  margin: 0 65px 0 20px;
}

/*Footer*/

.container_footer {
  position: relative;
}

.footer {
  width: auto;
  height: auto;
  background: #272725;
  padding: 3px;
}

.footer__content {
  width: 80%;
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  vertical-align: bottom;
}

.footer__info {
  margin: 0 3% 0 0;
  height: 35px;
}

.footer__link-img,
.footer__info_date {
  display: inline-block;
  width: auto;
  height: 25px;
  margin: 10px 0 0;
  vertical-align: bottom;
  text-decoration: none;
  color: #d9d9d9;
  font: 12px 'ProximaNovaLight';
  line-height: 1.5;
}

.footer__info_logo {
  padding: 0 8px;
  vertical-align: middle;
}

.footer__info_date {
  position: absolute;
  top: auto;
  right: 3%;
}

/*MEDIA*/

@media screen and (max-width: 1045px) {
  .container {
    margin: 0 9%;
    width: auto;
  }

  .footer__info_logo {
    width: 15px;
    height: 15px;
    padding: 0 5px;
  }
}

@media screen and (max-width: 985px) {
  .title {
    font-size: 2.7rem;
    width: 400px;
  }

  .logo__svg {
    width: 210px;
    margin: 15px 0 0;
  }

  .header {
    height: auto;
    background-position: center;
  }

  .site-description {
    padding: 0 0 30px;
  }
}

@media screen and (max-width: 890px) {
  .site-description {
    padding: 0 0 30px;
    width: 84%;
  }

  .site-description:before {
    width: 120px;
    height: 5px;
    margin: 50px 0;
  }

  .container {
    width: 75%;
    margin: auto;
  }

  .clearance-calculator__header_blue-line,
  .bottom-calculator__header_blue-line {
    width: 460px;
  }

  .clearance-calculator__content {
    display: inline-flex;
    flex-direction: column;
  }

  .clearance-calculator__content_left > div:nth-child(5) {
    margin: 0 0 30px 15px;
  }

  .clearance-calculator__content_left {
    margin-bottom: 20px;
  }

  .btn-count {
    margin-left: 17px;
  }

  .footer__info {
    height: auto;
    margin: auto;
  }

  .footer__link-img {
    width: 110px;
    height: auto;
    margin: 0;
    padding: 3px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    width: 95%;
    margin: auto;
  }
}
