@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.woff') format('woff'),
       url('../fonts/ProximaNova-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}

html,
body {
 margin: 0;
 padding: 0;
}

body {
  font: 16px/1;
  color: #464646;
}

.wrapper {
	width: 74%;
  min-width: 500px;
  margin: 0 auto;
	height: auto;
}

.calculator {
  margin: 0 0 60px -3px;
  font-family:  'ProximaNova-Light';
}

.calc {
  margin: 0 0 20px;
}

.calc > select {
  padding: 11px 13px;
  border: 1px solid rgb(209, 219, 223);
  border-radius: 3px;
  margin: 0 11px 0 0;
  width: 70px;
  height: 40px;
  font: .9375rem 'ProximaNova-Light';
  color: #262626;
  background: url('../images/arrow.png') 88% 50% no-repeat;
  appearance: none;
  -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
}

.old-size {
  padding: 0 12px 0 1px;
}
.new-size {
  padding: 0 17px 0 1px;
}

.new-size,
.old-size{
  vertical-align: middle;
  font-size: 1rem;
}

.fallacy-of-speedometer {
  font-family: 'ProximaNova-Light';
}

.block-name {
  font: 1.125rem 'ProximaNova-Bold';
  display: inline-block;
  margin: 0 -2px 22px;
}

.blue-line {
  width: 77.6%;
  min-width: 460px;
  height: 41px;
  background: #2569d9;
  margin: 0 0 24px -2px;
}

.block-head {
  margin: 0;
  padding: 0;
}

.block-head_item {
  list-style: none;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: .75rem;
  line-height: 2;
  letter-spacing: .02rem;
}

ul.block-head li:first-child {
  width: 160px;
  padding: 10px 15px 6px 16px;
}

ul.block-head li:nth-child(2) {
  width: 130px;
  padding: 10px 15px 6px 12px;
}

ul.block-head li:nth-child(3) {
  width: 55px;
  padding: 10px 15px 6px 14px;
}

.fallacy {
  height: 21px;
  width: 62px;
  background: #ebebeb;
  color: #464646;
  font: 1rem 'ProximaNova-Light';
  text-align: right;
  border: none;
  padding: 6px 8px 5px 9px;
  letter-spacing: .1rem
}

.fallacy-of-speedometer > input:first-of-type {
  margin: 0 106px 0 15px;
}


.fallacy-of-speedometer > input:nth-of-type(2) {
  margin: 0 62px 0 0;
}

.fallacy-of-speedometer > input:last-of-type {
  background: #d6e5ff;
  margin: 0 0 0 18px;
}

.fallacy-of-speedometer > input:focus,
.calc >select:focus {
  outline: none;
}

.fallacy-of-speedometer > input::-webkit-inner-spin-button,
.fallacy-of-speedometer > input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 580px) {
  .wrapper {
    margin: 0 10px;
  }
}
