html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px 'Bazar';
}

.container {
  height: 1400px;
  margin: 0 auto;
}

.fixed-header {
  height: 130px;
  background-image: url('../img/background-header.jpg');
  background-size:cover;
  padding: 1px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7), inset 0px -7px 13px -10px rgba(0, 0, 0, .7);
}

nav.nav {
  padding: 5px;
  margin: 43px 0 0 243px;
}

a.nav__item {
  text-decoration: none;
  color: #f9ebd9;
  font: 1.6875rem 'Bazar';
  text-transform: uppercase;
  padding: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

a.nav__item_about {
  margin: 0 10px 0 5px;
}

a.nav__item_portfolio {
  margin: 0 50px;
}

a.nav__item_blog {
  margin: 0 0px 0 206px;
}

a.nav__item_contact {
  margin: 0 10px 0 55px;
}

.badge {
  width: 150px;
  height: 150px;
  background-image: url('../img/badge.png');
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 625px;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  font-size: 47px;
}

.badge__logo {
  width: 130px;
  height: auto;
  display: block;
  padding: 9px 16px;
}

.fixed-header::after,
.fixed-header::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-image: url('../img/Dashed-line.png');
  background-size: 100%;
  position: absolute;
}

.fixed-header::before {
  top: 117px;
}

.fixed-header::after {
  top: 140px;
}

.section_welcome-page {
  background-image: url('../img/welcome-pageBG.jpg');
  background-size: contain;
  width: auto;
  height: auto;
  padding: 1px;
}

.retro__logo_first,
.retro__logo_second {
  width: 400px;
  height: auto;
  position: absolute;
}

.retro__logo_first {
  top: 177px;
  left: 500px;
}

.retro__logo_second {
  top: 155px;
  left: 512px;
}

.retro__ribbon {
  width: 611px;
  height: auto;
  position: absolute;
  top: 310px;
  left: 394px;
}

.retro__rebbon_text {
  text-transform: uppercase;
  font: 21px 'Bazar';
  letter-spacing: 0.03rem;
  position: absolute;
  top: 328px;
  left: 606px;
}

.slider {
  display: inline-block;
  width: auto;
  background-color: #fbfaf6;
  margin: 290px 0 100px 219px;
  padding: 10px 10px 15px 10px;
  border-radius: 3px;
  position: relative;
}

.slider__content {
  display: inline-block;
  background: #e3dfd7;
  width: 940px;
  height: 400px;
  margin: 0;
  border-radius: 3px;
}

.slider__content::after {
  content: 'kodak camera';
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: 412px 10px 10px 10px;
  font-size: 1.375rem;
}

.slider__arrow {
  background-color: #fbfaf6;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  border-radius: 0 / 50%;
}
